body{
    background-image: url(../img/back2.jpg);
}

/*Area dos produtos*/
.formataMenu{
    font-family: arial;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    padding: 18px;
    cursor: pointer;
}
#areaProdutos{
    width: 100%;
    min-height: 456px;
    height: auto;
/*    background-color: #fff;*/
    margin-bottom: 120px;
}

#areaProdutos .container{
    background-color: rgba(1, 1, 1, 0.9);
    min-height: inherit;
    height: auto;
    border: 2px solid black;
}

#filtroDosProdutos{
    width: 250px;
    min-height: inherit;
    height: auto;
    border-right: 2px solid black;
}

.filtroOpcao{
    width: inherit;
    height: 60px;
    background-color: #1f1f1f;
    border-bottom: 2px solid black;
}

.filtroOpcao:hover{
    transition: 0.5s;
    background-color: #db9a00;
}
