body{
    background-image: url(../img/back2.jpg);
}

/*Area dos produtos*/
.formataMenu{
    font-family: arial;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    padding: 18px;
    cursor: pointer;
}
#areaProdutos{
    width: 100%;
    min-height: 456px;
    height: auto;
/*    background-color: #fff;*/
    margin-bottom: 120px;
}

#areaProdutos .container{
    background-color: rgba(1, 1, 1, 0.9);
    min-height: inherit;
    height: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

#filtroDosProdutos{
    width: 250px;
    min-height: inherit;
    height: auto;
    border-right: 2px solid black;
}

.filtroOpcao{
    width: inherit;
    height: 60px;
    background-color: #1f1f1f;
    border-bottom: 2px solid black;
}

.filtroOpcao:hover{
    transition: 0.5s;
    background-color: #db9a00;
}

#containerProdutos{
    width: 995px;
    min-height: inherit;
    height: auto;
    box-sizing: border-box;
    padding-right: 60px;
    padding-top: 150px;
}

.cardProduto{
    width: 300px;
    height: 300px;
    background-color: #0b0b0b;
    margin: 5px;
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.cardProduto:hover > .imagemProduto{
    transition: 0.5s;
    transform: scale(1.1);
}

.cardProduto:hover > .textoProduto{
    text-decoration: underline;
}

.imagemProduto{
    width: 120px;
    height: 120px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.textoProduto{
    width: 260px;
    height: 20px;
    font-family: arial;
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}

.botaoDetalhes{
    width: 100px;
    height: 35px;
    background-color: #8a0000;
    color: white;
    float: right;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    box-sizing: border-box;
    padding-top: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.botaoDetalhes:hover{
    transition: 0.5s;
    text-decoration: underline;
    background-color: #d60000;
}
