*{
    margin: 0;
    padding: 0;
}

#galeria{
    background: #fff;
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: block;
    box-shadow: black 0 0 15px;
    margin: 25px auto;
}

#buttons{
    display: none;
    position: absolute;
    margin: 5px;
    z-index: 999;
}

#buttons a{
    background-color: #333;
    width: 50px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    font-size: 23pt;
    font-family: arial;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

#buttons a:hover{
    opacity: 0.9;
}

ul{
    list-style: none;
    display: table;
    position: relative;
}

li{
    width: 500px;
    height: 500px;
    display: inline-block;
    position: relative;
}

li img{
    width: 100%;
    height: 100%;
}

li span{
    background-color: #333;
    width: 460px;
    display: table;
    position: absolute;
    opacity: 0.7;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    font-size: 12pt;
    font-family: "Comic Sans MS";
    color: #fff;
}